USE [PLANTA]
GO
/****** Object:  Table [dbo].[CULTIVO]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CULTIVO](
	[ID_CULTIVO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ESTADO] [bit] NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](100) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK_CULTIVO] PRIMARY KEY CLUSTERED 
(
	[ID_CULTIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENEDOR]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENEDOR](
	[ID_CONTENEDOR] [int] NOT NULL,
	[NOMBRE] [int] NOT NULL,
	[POS_X] [int] NOT NULL,
	[POS_Y] [int] NOT NULL,
 CONSTRAINT [PK_CONTENEDOR] PRIMARY KEY CLUSTERED 
(
	[ID_CONTENEDOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLOR]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COLOR](
	[ID_COLOR] [int] NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
	[ID_CULTIVO] [int] NOT NULL,
 CONSTRAINT [PK_COLOR] PRIMARY KEY CLUSTERED 
(
	[ID_COLOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CARGA_TUNEL]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGA_TUNEL](
	[ID_CARGA_TUNEL] [int] NOT NULL,
	[ID_TUNEL] [int] NOT NULL,
	[INICIO_CARGA] [datetime] NULL,
	[FIN_CARGA] [datetime] NULL,
	[INICIO_DESCARGA] [datetime] NULL,
	[FIN_DESCARGA] [datetime] NULL,
 CONSTRAINT [PK_CARGA_TUNEL] PRIMARY KEY CLUSTERED 
(
	[ID_CARGA_TUNEL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMARA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAMARA](
	[ID_CAMARA] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](400) NOT NULL,
	[POS_X] [int] NOT NULL,
	[POS_Y] [int] NOT NULL,
	[POS_H] [int] NULL,
 CONSTRAINT [PK_CAMARA] PRIMARY KEY CLUSTERED 
(
	[ID_CAMARA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CALIBRE]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CALIBRE](
	[ID_CALIBRE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[ID_CULTIVO] [int] NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](200) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK_CALIBRE] PRIMARY KEY CLUSTERED 
(
	[ID_CALIBRE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EDAD_CULTIVO]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EDAD_CULTIVO](
	[ID_EDAD_CULTIVO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ESTADO] [bit] NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](100) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK_EDAD_CULTIVO] PRIMARY KEY CLUSTERED 
(
	[ID_EDAD_CULTIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MARCA](
	[ID_MARCA] [int] NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LINEA_NAVIERA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LINEA_NAVIERA](
	[ID_LINEA_NAVIERA] [int] NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
 CONSTRAINT [PK_LINEA_NAVIERA] PRIMARY KEY CLUSTERED 
(
	[ID_LINEA_NAVIERA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JABA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JABA](
	[ID_JABA] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[PESO] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_JABA] PRIMARY KEY CLUSTERED 
(
	[ID_JABA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EVALUADOR]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVALUADOR](
	[ID_EVALUADOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NOT NULL,
	[APELLIDO] [varchar](250) NULL,
	[CODIGO_NISIRA] [varchar](50) NULL,
	[USUARIO_RESPONSABLE] [varchar](200) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK_EVALUADOR] PRIMARY KEY CLUSTERED 
(
	[ID_EVALUADOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENVASE]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENVASE](
	[ID_ENVASE] [int] NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
 CONSTRAINT [PK_ENVASE] PRIMARY KEY CLUSTERED 
(
	[ID_ENVASE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VIVERO]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VIVERO](
	[ID_VIVERO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ESTADO] [bit] NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](100) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK__VIVERO__FFEFF9331C873BEC] PRIMARY KEY CLUSTERED 
(
	[ID_VIVERO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VIA_EMBARQUE]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VIA_EMBARQUE](
	[ID_VIA_EMBARQUE] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
 CONSTRAINT [PK_VIA_EMBARQUE] PRIMARY KEY CLUSTERED 
(
	[ID_VIA_EMBARQUE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_PALETA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_PALETA](
	[ID_TIPO_PALETA] [int] NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
	[DESCRIPCION] [varchar](400) NOT NULL,
 CONSTRAINT [PK_TIPO_PALETA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PALETA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_CULTIVO]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_CULTIVO](
	[ID_TIPO_CULTIVO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ESTADO] [bit] NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](100) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK_TIPO_CULTIVO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_CULTIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERIODO_CAMPANIA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERIODO_CAMPANIA](
	[ID_PERIODO_CAMPANIA] [int] NOT NULL,
	[FECHA_INICIO] [date] NULL,
	[FECHA_TERMINO] [date] NULL,
 CONSTRAINT [PK_PERIODO_CAMPANIA] PRIMARY KEY CLUSTERED 
(
	[ID_PERIODO_CAMPANIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATRON]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PATRON](
	[ID_PATRON] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ESTADO] [bit] NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](100) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK__PATRON__E2A32F5918B6AB08] PRIMARY KEY CLUSTERED 
(
	[ID_PATRON] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARIHUELA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARIHUELA](
	[ID_PARIHUELA] [int] NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
	[PESO] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_PARIHUELA] PRIMARY KEY CLUSTERED 
(
	[ID_PARIHUELA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RECEPCION]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECEPCION](
	[ID_RECEPCION] [int] NOT NULL,
	[ID_DESTINATARIO] [int] NOT NULL,
	[ID_TRANSPORTISTA] [int] NOT NULL,
	[ID_CHOFER] [int] NOT NULL,
	[ID_VEHICULO] [int] NOT NULL,
	[FECHA_RECEPCION] [datetime] NOT NULL,
	[DIR_LLEGADA] [varchar](200) NOT NULL,
	[PRECINTO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RECEPCION] PRIMARY KEY CLUSTERED 
(
	[ID_RECEPCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUERTO]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PUERTO](
	[ID_PUERTO] [int] NOT NULL,
	[NOMBRE_PUERTO] [varchar](200) NOT NULL,
 CONSTRAINT [PK_PUERTO] PRIMARY KEY CLUSTERED 
(
	[ID_PUERTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SECTOR]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECTOR](
	[ID_SECTOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ESTADO] [bit] NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](100) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK_SECTOR] PRIMARY KEY CLUSTERED 
(
	[ID_SECTOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RECETA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECETA](
	[ID_RECETA] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
 CONSTRAINT [PK_RECETA] PRIMARY KEY CLUSTERED 
(
	[ID_RECETA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUNEL]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TUNEL](
	[ID_TUNEL] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](400) NOT NULL,
	[POS_X] [int] NOT NULL,
	[POS_Y] [int] NOT NULL,
	[POS_H] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUB_SECTOR]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUB_SECTOR](
	[ID_SUB_SECTOR] [int] IDENTITY(1,1) NOT NULL,
	[ID_SECTOR] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[GROWER_SENASA] [varchar](100) NOT NULL,
	[ESTADO] [bit] NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](100) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK_SUB_SECTOR] PRIMARY KEY CLUSTERED 
(
	[ID_SUB_SECTOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VARIEDAD]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VARIEDAD](
	[ID_VARIEDAD] [int] IDENTITY(1,1) NOT NULL,
	[ID_CULTIVO] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ESTADO] [bit] NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](100) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK_VARIEDAD] PRIMARY KEY CLUSTERED 
(
	[ID_VARIEDAD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMBARQUE]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMBARQUE](
	[ID_EMBARQUE] [int] NOT NULL,
	[ID_CLIENTE_FACTURABLE] [int] NOT NULL,
	[ID_EXPORTADOR] [int] NOT NULL,
	[ID_PRODUCTOR] [int] NOT NULL,
	[ID_CONSIGNATARIO] [int] NOT NULL,
	[ID_OPERADOR_LOGISTICO] [int] NOT NULL,
	[ID_VIA_EMBARQUE] [int] NOT NULL,
	[ID_LINEA_NAVIERA] [int] NOT NULL,
	[PREC_OP_LOGISTICO] [varchar](150) NOT NULL,
	[ID_CONTENEDOR] [int] NOT NULL,
	[ID_PTO_EMBARQUE] [int] NOT NULL,
	[ID_PTO_DESTINO] [int] NOT NULL,
	[PREC_SENASA] [varchar](50) NOT NULL,
	[PREC_ADUANAS] [varchar](50) NOT NULL,
	[PREC_LINEA_NAV] [varchar](50) NOT NULL,
	[VAPOR] [varchar](200) NOT NULL,
	[CONTAINER] [varchar](50) NOT NULL,
	[ID_EMP_TRANSPORTE] [int] NOT NULL,
	[ID_CHOFER] [int] NOT NULL,
	[PLACA_CONTAINER] [varchar](50) NOT NULL,
	[PLACA_CARRETA] [varchar](50) NOT NULL,
	[FECHA_TRASLADO] [datetime] NOT NULL,
	[FECHA_PARTIDA] [datetime] NOT NULL,
	[FECHA_ARRIBO] [datetime] NOT NULL,
	[ID_CIUDAD_ORIGEN] [int] NOT NULL,
	[COLD_TREAT] [bit] NOT NULL,
	[PACKING_LIST] [varchar](50) NOT NULL,
	[T_SET_POINT] [decimal](18, 2) NOT NULL,
	[T_DESPACHO] [decimal](18, 2) NOT NULL,
	[VENTILACION] [decimal](18, 2) NOT NULL,
	[HUMEDAD] [decimal](18, 2) NOT NULL,
	[CANT_FILTROS] [decimal](18, 2) NOT NULL,
	[BOOKING] [varchar](50) NOT NULL,
	[HORA_INICIO] [datetime] NOT NULL,
	[HORA_FIN] [datetime] NOT NULL,
 CONSTRAINT [PK_EMBARQUE] PRIMARY KEY CLUSTERED 
(
	[ID_EMBARQUE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOTE]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOTE](
	[ID_LOTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[HECTAREAS] [decimal](18, 4) NULL,
	[ID_CENTRO_COSTO] [int] NULL,
	[ID_PATRON] [int] NOT NULL,
	[ID_VIVERO] [int] NOT NULL,
	[ID_SUB_SECTOR] [int] NOT NULL,
	[ID_TIPO_CULTIVO] [int] NOT NULL,
	[ID_EDAD_CULTIVO] [int] NOT NULL,
	[ID_VARIEDAD] [int] NOT NULL,
	[ANIO_SIEMBRA] [int] NULL,
	[ESTADO] [bit] NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](100) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK__LOTE_CAL__3B0DF1DC7EF6D905] PRIMARY KEY CLUSTERED 
(
	[ID_LOTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DET_RECETA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DET_RECETA](
	[ID_DET_RECETA] [int] NOT NULL,
	[ID_RECETA] [int] NOT NULL,
	[ID_INSUMO] [int] NOT NULL,
	[CANTIDAD] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_DET_RECETA] PRIMARY KEY CLUSTERED 
(
	[ID_DET_RECETA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMPANIA_LOTE]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAMPANIA_LOTE](
	[ID_CAMPANIA_LOTE] [int] IDENTITY(1,1) NOT NULL,
	[ID_LOTE] [int] NOT NULL,
	[ID_PERIODO_CAMPANIA] [int] NOT NULL,
	[FECHA_PODA_FORMACION] [date] NOT NULL,
	[NUMERO_PLANTAS] [decimal](18, 2) NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](200) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK_CAMPANIA] PRIMARY KEY CLUSTERED 
(
	[ID_CAMPANIA_LOTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ANALISIS_YEMAS]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ANALISIS_YEMAS](
	[ID_ANALISIS_YEMAS] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERIODO_CAMPANIA] [int] NOT NULL,
	[ID_LOTE] [int] NOT NULL,
	[ID_EVALUADOR] [int] NOT NULL,
	[FEMINELAS] [decimal](18, 4) NOT NULL,
	[FERTILIDAD] [decimal](18, 4) NOT NULL,
	[FECHA_MUESTRA] [date] NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](200) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK_ANALISIS_YEMAS] PRIMARY KEY CLUSTERED 
(
	[ID_ANALISIS_YEMAS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DET_RECEPCION]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DET_RECEPCION](
	[ID_DET_RECEPCION] [int] NOT NULL,
	[ID_RECEPCION] [int] NOT NULL,
	[ID_LOTE] [int] NOT NULL,
	[ID_JABA] [int] NOT NULL,
	[ID_PARIHUELA] [int] NOT NULL,
	[iD_CATEGORIA] [int] NOT NULL,
	[NUM_JABAS] [int] NOT NULL,
	[PESO_BRUTO] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_DET_RECEPCION] PRIMARY KEY CLUSTERED 
(
	[ID_DET_RECEPCION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VALVULA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VALVULA](
	[ID_VALVULA] [int] IDENTITY(1,1) NOT NULL,
	[ID_LOTE] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ESTADO] [bit] NOT NULL,
	[USUARIO_RESPONSABLE] [varchar](200) NOT NULL,
	[FECHA_MODIFICACION] [datetime] NOT NULL,
 CONSTRAINT [PK_VALVULA] PRIMARY KEY CLUSTERED 
(
	[ID_VALVULA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTO_TERMINADO]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_TERMINADO](
	[ID_PRODUCTO_TERMINADO] [int] NOT NULL,
	[ID_MARCA] [int] NOT NULL,
	[ID_ENVASE] [int] NOT NULL,
	[ID_CALIBRE] [int] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[ID_COLOR] [int] NOT NULL,
	[ID_LOTE] [int] NOT NULL,
	[FECHA_PRODUCCION] [date] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[FECHA_COSECHA] [date] NOT NULL,
 CONSTRAINT [PK_PRODUCTO_TERMINADO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO_TERMINADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PALETA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PALETA](
	[ID_PALETA] [int] NOT NULL,
	[FECHA_PRODUCCION] [int] NOT NULL,
	[ID_PRODUCTO_TERMINADO] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ESTADO] [int] NOT NULL,
	[ID_TIPO_PALETA] [int] NOT NULL,
 CONSTRAINT [PK_PALETA] PRIMARY KEY CLUSTERED 
(
	[ID_PALETA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DET_EMBARQUE]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DET_EMBARQUE](
	[ID_DET_EMBARQUE] [int] NOT NULL,
	[ID_EMBARQUE] [int] NOT NULL,
	[ID_PALETA] [int] NOT NULL,
	[POS_X] [int] NOT NULL,
	[POS_Y] [int] NOT NULL,
	[SENSOR] [int] NOT NULL,
	[THERMOREGISTRO] [varchar](200) NOT NULL,
 CONSTRAINT [PK_DET_EMBARQUE] PRIMARY KEY CLUSTERED 
(
	[ID_DET_EMBARQUE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DET_CARGA_TUNEL]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DET_CARGA_TUNEL](
	[ID_DET_CARGA_TUNEL] [int] NOT NULL,
	[ID_CARGA_TUNEL] [int] NOT NULL,
	[ID_PALETA] [int] NOT NULL,
	[T_ENTRADA] [decimal](18, 2) NOT NULL,
	[T_SALIDA] [decimal](18, 2) NOT NULL,
	[POS_X] [int] NOT NULL,
	[POS_Y] [int] NOT NULL,
	[POS_H] [int] NOT NULL,
 CONSTRAINT [PK_DET_CARGA_TUNEL] PRIMARY KEY CLUSTERED 
(
	[ID_DET_CARGA_TUNEL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INGRESO_CAMARA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGRESO_CAMARA](
	[ID_INGRESO_CAMARA] [int] NOT NULL,
	[ID_PALETA] [int] NOT NULL,
	[FECHA_INGRESO] [datetime] NOT NULL,
 CONSTRAINT [PK_INGRESO_CAMARA] PRIMARY KEY CLUSTERED 
(
	[ID_INGRESO_CAMARA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DET_INGRESO_CAMARA]    Script Date: 07/22/2014 12:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DET_INGRESO_CAMARA](
	[ID_DET_INGRESO_CAMARA] [int] NOT NULL,
	[ID_INGRESO_CAMARA] [int] NOT NULL,
	[ID_CAMARA] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[POS_X] [int] NOT NULL,
	[POS_Y] [int] NOT NULL,
	[POS_H] [int] NOT NULL,
 CONSTRAINT [PK_DET_INGRESO_CAMARA] PRIMARY KEY CLUSTERED 
(
	[ID_DET_INGRESO_CAMARA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_ANALISIS_YEMAS_EVALUADOR]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[ANALISIS_YEMAS]  WITH CHECK ADD  CONSTRAINT [FK_ANALISIS_YEMAS_EVALUADOR] FOREIGN KEY([ID_EVALUADOR])
REFERENCES [dbo].[EVALUADOR] ([ID_EVALUADOR])
GO
ALTER TABLE [dbo].[ANALISIS_YEMAS] CHECK CONSTRAINT [FK_ANALISIS_YEMAS_EVALUADOR]
GO
/****** Object:  ForeignKey [FK_ANALISIS_YEMAS_LOTE]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[ANALISIS_YEMAS]  WITH CHECK ADD  CONSTRAINT [FK_ANALISIS_YEMAS_LOTE] FOREIGN KEY([ID_LOTE])
REFERENCES [dbo].[LOTE] ([ID_LOTE])
GO
ALTER TABLE [dbo].[ANALISIS_YEMAS] CHECK CONSTRAINT [FK_ANALISIS_YEMAS_LOTE]
GO
/****** Object:  ForeignKey [FK_ANALISIS_YEMAS_PERIODO_CAMPANIA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[ANALISIS_YEMAS]  WITH CHECK ADD  CONSTRAINT [FK_ANALISIS_YEMAS_PERIODO_CAMPANIA] FOREIGN KEY([ID_PERIODO_CAMPANIA])
REFERENCES [dbo].[PERIODO_CAMPANIA] ([ID_PERIODO_CAMPANIA])
GO
ALTER TABLE [dbo].[ANALISIS_YEMAS] CHECK CONSTRAINT [FK_ANALISIS_YEMAS_PERIODO_CAMPANIA]
GO
/****** Object:  ForeignKey [FK_CAMPANIA_LOTE_LOTE]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[CAMPANIA_LOTE]  WITH CHECK ADD  CONSTRAINT [FK_CAMPANIA_LOTE_LOTE] FOREIGN KEY([ID_LOTE])
REFERENCES [dbo].[LOTE] ([ID_LOTE])
GO
ALTER TABLE [dbo].[CAMPANIA_LOTE] CHECK CONSTRAINT [FK_CAMPANIA_LOTE_LOTE]
GO
/****** Object:  ForeignKey [FK_CAMPANIA_LOTE_PERIODO_CAMPANIA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[CAMPANIA_LOTE]  WITH CHECK ADD  CONSTRAINT [FK_CAMPANIA_LOTE_PERIODO_CAMPANIA] FOREIGN KEY([ID_PERIODO_CAMPANIA])
REFERENCES [dbo].[PERIODO_CAMPANIA] ([ID_PERIODO_CAMPANIA])
GO
ALTER TABLE [dbo].[CAMPANIA_LOTE] CHECK CONSTRAINT [FK_CAMPANIA_LOTE_PERIODO_CAMPANIA]
GO
/****** Object:  ForeignKey [FK_DET_CARGA_TUNEL_CARGA_TUNEL]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[DET_CARGA_TUNEL]  WITH CHECK ADD  CONSTRAINT [FK_DET_CARGA_TUNEL_CARGA_TUNEL] FOREIGN KEY([ID_CARGA_TUNEL])
REFERENCES [dbo].[CARGA_TUNEL] ([ID_CARGA_TUNEL])
GO
ALTER TABLE [dbo].[DET_CARGA_TUNEL] CHECK CONSTRAINT [FK_DET_CARGA_TUNEL_CARGA_TUNEL]
GO
/****** Object:  ForeignKey [FK_DET_CARGA_TUNEL_PALETA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[DET_CARGA_TUNEL]  WITH CHECK ADD  CONSTRAINT [FK_DET_CARGA_TUNEL_PALETA] FOREIGN KEY([ID_PALETA])
REFERENCES [dbo].[PALETA] ([ID_PALETA])
GO
ALTER TABLE [dbo].[DET_CARGA_TUNEL] CHECK CONSTRAINT [FK_DET_CARGA_TUNEL_PALETA]
GO
/****** Object:  ForeignKey [FK_DET_EMBARQUE_EMBARQUE]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[DET_EMBARQUE]  WITH CHECK ADD  CONSTRAINT [FK_DET_EMBARQUE_EMBARQUE] FOREIGN KEY([ID_EMBARQUE])
REFERENCES [dbo].[EMBARQUE] ([ID_EMBARQUE])
GO
ALTER TABLE [dbo].[DET_EMBARQUE] CHECK CONSTRAINT [FK_DET_EMBARQUE_EMBARQUE]
GO
/****** Object:  ForeignKey [FK_DET_EMBARQUE_PALETA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[DET_EMBARQUE]  WITH CHECK ADD  CONSTRAINT [FK_DET_EMBARQUE_PALETA] FOREIGN KEY([ID_PALETA])
REFERENCES [dbo].[PALETA] ([ID_PALETA])
GO
ALTER TABLE [dbo].[DET_EMBARQUE] CHECK CONSTRAINT [FK_DET_EMBARQUE_PALETA]
GO
/****** Object:  ForeignKey [FK_DET_INGRESO_CAMARA_CAMARA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[DET_INGRESO_CAMARA]  WITH CHECK ADD  CONSTRAINT [FK_DET_INGRESO_CAMARA_CAMARA] FOREIGN KEY([ID_CAMARA])
REFERENCES [dbo].[CAMARA] ([ID_CAMARA])
GO
ALTER TABLE [dbo].[DET_INGRESO_CAMARA] CHECK CONSTRAINT [FK_DET_INGRESO_CAMARA_CAMARA]
GO
/****** Object:  ForeignKey [FK_DET_INGRESO_CAMARA_INGRESO_CAMARA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[DET_INGRESO_CAMARA]  WITH CHECK ADD  CONSTRAINT [FK_DET_INGRESO_CAMARA_INGRESO_CAMARA] FOREIGN KEY([ID_INGRESO_CAMARA])
REFERENCES [dbo].[INGRESO_CAMARA] ([ID_INGRESO_CAMARA])
GO
ALTER TABLE [dbo].[DET_INGRESO_CAMARA] CHECK CONSTRAINT [FK_DET_INGRESO_CAMARA_INGRESO_CAMARA]
GO
/****** Object:  ForeignKey [FK_DET_RECEPCION_JABA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[DET_RECEPCION]  WITH CHECK ADD  CONSTRAINT [FK_DET_RECEPCION_JABA] FOREIGN KEY([ID_JABA])
REFERENCES [dbo].[JABA] ([ID_JABA])
GO
ALTER TABLE [dbo].[DET_RECEPCION] CHECK CONSTRAINT [FK_DET_RECEPCION_JABA]
GO
/****** Object:  ForeignKey [FK_DET_RECEPCION_LOTE]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[DET_RECEPCION]  WITH CHECK ADD  CONSTRAINT [FK_DET_RECEPCION_LOTE] FOREIGN KEY([ID_LOTE])
REFERENCES [dbo].[LOTE] ([ID_LOTE])
GO
ALTER TABLE [dbo].[DET_RECEPCION] CHECK CONSTRAINT [FK_DET_RECEPCION_LOTE]
GO
/****** Object:  ForeignKey [FK_DET_RECEPCION_PARIHUELA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[DET_RECEPCION]  WITH CHECK ADD  CONSTRAINT [FK_DET_RECEPCION_PARIHUELA] FOREIGN KEY([ID_PARIHUELA])
REFERENCES [dbo].[PARIHUELA] ([ID_PARIHUELA])
GO
ALTER TABLE [dbo].[DET_RECEPCION] CHECK CONSTRAINT [FK_DET_RECEPCION_PARIHUELA]
GO
/****** Object:  ForeignKey [FK_DET_RECEPCION_RECEPCION]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[DET_RECEPCION]  WITH CHECK ADD  CONSTRAINT [FK_DET_RECEPCION_RECEPCION] FOREIGN KEY([ID_RECEPCION])
REFERENCES [dbo].[RECEPCION] ([ID_RECEPCION])
GO
ALTER TABLE [dbo].[DET_RECEPCION] CHECK CONSTRAINT [FK_DET_RECEPCION_RECEPCION]
GO
/****** Object:  ForeignKey [FK_DET_RECETA_RECETA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[DET_RECETA]  WITH CHECK ADD  CONSTRAINT [FK_DET_RECETA_RECETA] FOREIGN KEY([ID_RECETA])
REFERENCES [dbo].[RECETA] ([ID_RECETA])
GO
ALTER TABLE [dbo].[DET_RECETA] CHECK CONSTRAINT [FK_DET_RECETA_RECETA]
GO
/****** Object:  ForeignKey [FK_EMBARQUE_CONTENEDOR]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[EMBARQUE]  WITH CHECK ADD  CONSTRAINT [FK_EMBARQUE_CONTENEDOR] FOREIGN KEY([ID_CONTENEDOR])
REFERENCES [dbo].[CONTENEDOR] ([ID_CONTENEDOR])
GO
ALTER TABLE [dbo].[EMBARQUE] CHECK CONSTRAINT [FK_EMBARQUE_CONTENEDOR]
GO
/****** Object:  ForeignKey [FK_EMBARQUE_LINEA_NAVIERA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[EMBARQUE]  WITH CHECK ADD  CONSTRAINT [FK_EMBARQUE_LINEA_NAVIERA] FOREIGN KEY([ID_LINEA_NAVIERA])
REFERENCES [dbo].[LINEA_NAVIERA] ([ID_LINEA_NAVIERA])
GO
ALTER TABLE [dbo].[EMBARQUE] CHECK CONSTRAINT [FK_EMBARQUE_LINEA_NAVIERA]
GO
/****** Object:  ForeignKey [FK_EMBARQUE_PUERTO]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[EMBARQUE]  WITH CHECK ADD  CONSTRAINT [FK_EMBARQUE_PUERTO] FOREIGN KEY([ID_PTO_EMBARQUE])
REFERENCES [dbo].[PUERTO] ([ID_PUERTO])
GO
ALTER TABLE [dbo].[EMBARQUE] CHECK CONSTRAINT [FK_EMBARQUE_PUERTO]
GO
/****** Object:  ForeignKey [FK_EMBARQUE_PUERTO1]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[EMBARQUE]  WITH CHECK ADD  CONSTRAINT [FK_EMBARQUE_PUERTO1] FOREIGN KEY([ID_PTO_DESTINO])
REFERENCES [dbo].[PUERTO] ([ID_PUERTO])
GO
ALTER TABLE [dbo].[EMBARQUE] CHECK CONSTRAINT [FK_EMBARQUE_PUERTO1]
GO
/****** Object:  ForeignKey [FK_EMBARQUE_VIA_EMBARQUE]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[EMBARQUE]  WITH CHECK ADD  CONSTRAINT [FK_EMBARQUE_VIA_EMBARQUE] FOREIGN KEY([ID_VIA_EMBARQUE])
REFERENCES [dbo].[VIA_EMBARQUE] ([ID_VIA_EMBARQUE])
GO
ALTER TABLE [dbo].[EMBARQUE] CHECK CONSTRAINT [FK_EMBARQUE_VIA_EMBARQUE]
GO
/****** Object:  ForeignKey [FK_INGRESO_CAMARA_PALETA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[INGRESO_CAMARA]  WITH CHECK ADD  CONSTRAINT [FK_INGRESO_CAMARA_PALETA] FOREIGN KEY([ID_PALETA])
REFERENCES [dbo].[PALETA] ([ID_PALETA])
GO
ALTER TABLE [dbo].[INGRESO_CAMARA] CHECK CONSTRAINT [FK_INGRESO_CAMARA_PALETA]
GO
/****** Object:  ForeignKey [FK_LOTE_EDAD_CULTIVO]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[LOTE]  WITH CHECK ADD  CONSTRAINT [FK_LOTE_EDAD_CULTIVO] FOREIGN KEY([ID_EDAD_CULTIVO])
REFERENCES [dbo].[EDAD_CULTIVO] ([ID_EDAD_CULTIVO])
GO
ALTER TABLE [dbo].[LOTE] CHECK CONSTRAINT [FK_LOTE_EDAD_CULTIVO]
GO
/****** Object:  ForeignKey [FK_LOTE_PATRON]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[LOTE]  WITH CHECK ADD  CONSTRAINT [FK_LOTE_PATRON] FOREIGN KEY([ID_PATRON])
REFERENCES [dbo].[PATRON] ([ID_PATRON])
GO
ALTER TABLE [dbo].[LOTE] CHECK CONSTRAINT [FK_LOTE_PATRON]
GO
/****** Object:  ForeignKey [FK_LOTE_SUB_SECTOR]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[LOTE]  WITH CHECK ADD  CONSTRAINT [FK_LOTE_SUB_SECTOR] FOREIGN KEY([ID_SUB_SECTOR])
REFERENCES [dbo].[SUB_SECTOR] ([ID_SUB_SECTOR])
GO
ALTER TABLE [dbo].[LOTE] CHECK CONSTRAINT [FK_LOTE_SUB_SECTOR]
GO
/****** Object:  ForeignKey [FK_LOTE_TIPO_CULTIVO]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[LOTE]  WITH CHECK ADD  CONSTRAINT [FK_LOTE_TIPO_CULTIVO] FOREIGN KEY([ID_TIPO_CULTIVO])
REFERENCES [dbo].[TIPO_CULTIVO] ([ID_TIPO_CULTIVO])
GO
ALTER TABLE [dbo].[LOTE] CHECK CONSTRAINT [FK_LOTE_TIPO_CULTIVO]
GO
/****** Object:  ForeignKey [FK_LOTE_VARIEDAD]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[LOTE]  WITH CHECK ADD  CONSTRAINT [FK_LOTE_VARIEDAD] FOREIGN KEY([ID_VARIEDAD])
REFERENCES [dbo].[VARIEDAD] ([ID_VARIEDAD])
GO
ALTER TABLE [dbo].[LOTE] CHECK CONSTRAINT [FK_LOTE_VARIEDAD]
GO
/****** Object:  ForeignKey [FK_LOTE_VIVERO]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[LOTE]  WITH CHECK ADD  CONSTRAINT [FK_LOTE_VIVERO] FOREIGN KEY([ID_VIVERO])
REFERENCES [dbo].[VIVERO] ([ID_VIVERO])
GO
ALTER TABLE [dbo].[LOTE] CHECK CONSTRAINT [FK_LOTE_VIVERO]
GO
/****** Object:  ForeignKey [FK_PALETA_CLIENTE]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[PALETA]  WITH CHECK ADD  CONSTRAINT [FK_PALETA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[PALETA] CHECK CONSTRAINT [FK_PALETA_CLIENTE]
GO
/****** Object:  ForeignKey [FK_PALETA_PRODUCTO_TERMINADO]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[PALETA]  WITH CHECK ADD  CONSTRAINT [FK_PALETA_PRODUCTO_TERMINADO] FOREIGN KEY([ID_PRODUCTO_TERMINADO])
REFERENCES [dbo].[PRODUCTO_TERMINADO] ([ID_PRODUCTO_TERMINADO])
GO
ALTER TABLE [dbo].[PALETA] CHECK CONSTRAINT [FK_PALETA_PRODUCTO_TERMINADO]
GO
/****** Object:  ForeignKey [FK_PALETA_TIPO_PALETA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[PALETA]  WITH CHECK ADD  CONSTRAINT [FK_PALETA_TIPO_PALETA] FOREIGN KEY([ID_TIPO_PALETA])
REFERENCES [dbo].[TIPO_PALETA] ([ID_TIPO_PALETA])
GO
ALTER TABLE [dbo].[PALETA] CHECK CONSTRAINT [FK_PALETA_TIPO_PALETA]
GO
/****** Object:  ForeignKey [FK_PRODUCTO_TERMINADO_CALIBRE]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[PRODUCTO_TERMINADO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_TERMINADO_CALIBRE] FOREIGN KEY([ID_CALIBRE])
REFERENCES [dbo].[CALIBRE] ([ID_CALIBRE])
GO
ALTER TABLE [dbo].[PRODUCTO_TERMINADO] CHECK CONSTRAINT [FK_PRODUCTO_TERMINADO_CALIBRE]
GO
/****** Object:  ForeignKey [FK_PRODUCTO_TERMINADO_CATEGORIA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[PRODUCTO_TERMINADO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_TERMINADO_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTO_TERMINADO] CHECK CONSTRAINT [FK_PRODUCTO_TERMINADO_CATEGORIA]
GO
/****** Object:  ForeignKey [FK_PRODUCTO_TERMINADO_COLOR]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[PRODUCTO_TERMINADO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_TERMINADO_COLOR] FOREIGN KEY([ID_COLOR])
REFERENCES [dbo].[COLOR] ([ID_COLOR])
GO
ALTER TABLE [dbo].[PRODUCTO_TERMINADO] CHECK CONSTRAINT [FK_PRODUCTO_TERMINADO_COLOR]
GO
/****** Object:  ForeignKey [FK_PRODUCTO_TERMINADO_ENVASE]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[PRODUCTO_TERMINADO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_TERMINADO_ENVASE] FOREIGN KEY([ID_ENVASE])
REFERENCES [dbo].[ENVASE] ([ID_ENVASE])
GO
ALTER TABLE [dbo].[PRODUCTO_TERMINADO] CHECK CONSTRAINT [FK_PRODUCTO_TERMINADO_ENVASE]
GO
/****** Object:  ForeignKey [FK_PRODUCTO_TERMINADO_LOTE]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[PRODUCTO_TERMINADO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_TERMINADO_LOTE] FOREIGN KEY([ID_LOTE])
REFERENCES [dbo].[LOTE] ([ID_LOTE])
GO
ALTER TABLE [dbo].[PRODUCTO_TERMINADO] CHECK CONSTRAINT [FK_PRODUCTO_TERMINADO_LOTE]
GO
/****** Object:  ForeignKey [FK_PRODUCTO_TERMINADO_MARCA]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[PRODUCTO_TERMINADO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_TERMINADO_MARCA] FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCA] ([ID_MARCA])
GO
ALTER TABLE [dbo].[PRODUCTO_TERMINADO] CHECK CONSTRAINT [FK_PRODUCTO_TERMINADO_MARCA]
GO
/****** Object:  ForeignKey [FK_RECETA_CLIENTE]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[RECETA]  WITH CHECK ADD  CONSTRAINT [FK_RECETA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[RECETA] CHECK CONSTRAINT [FK_RECETA_CLIENTE]
GO
/****** Object:  ForeignKey [FK_SUB_SECTOR_SECTOR]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[SUB_SECTOR]  WITH CHECK ADD  CONSTRAINT [FK_SUB_SECTOR_SECTOR] FOREIGN KEY([ID_SECTOR])
REFERENCES [dbo].[SECTOR] ([ID_SECTOR])
GO
ALTER TABLE [dbo].[SUB_SECTOR] CHECK CONSTRAINT [FK_SUB_SECTOR_SECTOR]
GO
/****** Object:  ForeignKey [FK_TUNEL_CARGA_TUNEL]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[TUNEL]  WITH CHECK ADD  CONSTRAINT [FK_TUNEL_CARGA_TUNEL] FOREIGN KEY([ID_TUNEL])
REFERENCES [dbo].[CARGA_TUNEL] ([ID_CARGA_TUNEL])
GO
ALTER TABLE [dbo].[TUNEL] CHECK CONSTRAINT [FK_TUNEL_CARGA_TUNEL]
GO
/****** Object:  ForeignKey [FK_VALVULA_LOTE]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[VALVULA]  WITH CHECK ADD  CONSTRAINT [FK_VALVULA_LOTE] FOREIGN KEY([ID_LOTE])
REFERENCES [dbo].[LOTE] ([ID_LOTE])
GO
ALTER TABLE [dbo].[VALVULA] CHECK CONSTRAINT [FK_VALVULA_LOTE]
GO
/****** Object:  ForeignKey [FK_VARIEDAD_CULTIVO]    Script Date: 07/22/2014 12:20:53 ******/
ALTER TABLE [dbo].[VARIEDAD]  WITH CHECK ADD  CONSTRAINT [FK_VARIEDAD_CULTIVO] FOREIGN KEY([ID_CULTIVO])
REFERENCES [dbo].[CULTIVO] ([ID_CULTIVO])
GO
ALTER TABLE [dbo].[VARIEDAD] CHECK CONSTRAINT [FK_VARIEDAD_CULTIVO]
GO
